body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.flash {
    margin: 10px 0;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.flash.error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.btn-logout {
    background-color: #6c757d; /* Colore grigio Bootstrap */
    color: white;
    border-radius: 8px; /* Angoli arrotondati */
    padding: 10px 20px; /* Spaziatura interna */
    font-size: 18px; /* Dimensione del testo */
    border: none; /* Rimuove il bordo */
    transition: background-color 0.3s, transform 0.3s; /* Transizioni dolci */
}

.btn-logout:hover {
    background-color: #5a6268; /* Colore grigio scuro per hover */
    transform: scale(1.05); /* Ingrandisce leggermente il pulsante */
}

.btn-brown {
    background-color: #6f4e37;
    color: white;
}

/* CSS per centrare gli elementi sia orizzontalmente che verticalmente */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Occupare tutto lo schermo in altezza */
}

.content-box {
    width: 80%;
    max-width: 600px; /* Limita la larghezza del contenuto */
    text-align: center; /* Centra il testo */
}

/* Imposta l'immagine come pattern mattonellato per il body */
body {
    background-color: #CBD74D; /* Sostituisci con il colore che desideri */
    margin: 0;
    padding: 0;
    height: 100vh; /* Assicura che il background copra l'intero schermo */
    font-family: Arial, sans-serif; /* Esempio di font */
}

/* Se desideri applicare il colore di sfondo solo a un contenitore specifico */
.container {
    background-color: #CBD74D; /* Sostituisci con il colore che desideri */
    padding: 20px; /* Esempio di padding per il contenitore */
    border-radius: 8px; /* Esempio di bordi arrotondati */
}

/* Imposta il font predefinito per tutto il corpo della pagina */
body {
    font-family: 'Roboto', Arial, sans-serif;
}

/* Imposta il font per un contenitore specifico */
.container {
    font-family: 'Arial', sans-serif;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.friend-info {
    font-weight: bold;
}
.coffee-info {
    display: flex;
    align-items: center;
}
.coffee-icon {
    margin-left: 5px;
}








